{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Django Backend Journey</title>

    <link rel="stylesheet"
          href="{% static 'users/style.css' %}">
</head>

<body>

    <nav>
        <a href="{% url 'skills' %}">
            Skills
        </a>

        <a href="{% url 'search_skills' %}">
            Search
        </a>

        <a href="/user-skills/">
            User Skills
        </a>
    </nav>

    <hr>

    {% block content %}
    {% endblock %}
    <div class="container">

    <nav>
        ...
    </nav>

    {% block content %}
    {% endblock %}

</div>
<div class="card">

    <h1>My Skills</h1>

    ...

</div><div class="card">

    <h1>My Skills</h1>

    ...

</div>

</body>
</html>